# Notebook for first experiments with Yahoo Finance package for python

Importing libraries

In [51]:
import yfinance as yf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime

from scipy.stats import gmean

One ticker symbol

In [14]:
dat = yf.Ticker("PCO.WA")
dat.get_info()

{'address1': 'Capital House',
 'address2': '14th Floor 25 Chapel Street',
 'city': 'London',
 'zip': 'NW1 5DH',
 'country': 'United Kingdom',
 'phone': '44 20 3735 9210',
 'website': 'https://www.pepcogroup.eu',
 'industry': 'Discount Stores',
 'industryKey': 'discount-stores',
 'industryDisp': 'Discount Stores',
 'sector': 'Consumer Defensive',
 'sectorKey': 'consumer-defensive',
 'sectorDisp': 'Consumer Defensive',
 'longBusinessSummary': "Pepco Group N.V. operates as a discount variety retailer in the United Kingdom, the Republic of Ireland, Poland, and rest of Europe. The company provides clothing's, such as kids and babywear; homeware-led general merchandise; and fast-moving consumer goods. It also offers home d√©cors, chilled and frozen foods, toys, sweets, snacks, beverages, household cleaning products, cosmetics, office supplies, pet products, gardening, health, beauty, and seasonal products. In addition, the company provides direct product sourcing, product development, and technical services. Pepco Group N.V. operates stores under the Pepco, Poundland, and Dealz brands, as well as online discount retailer store under the Poundshop.com brand. The company was founded in 1990 and is based in London, the United Kingdom. Pepco Group N.V is a subsidiary of Pepco Holdco Limited.",
 'fullTimeEmployees': 29462,
 'companyOfficers': [{'maxAge': 1,
   'name': 'Mr. Willem  Eelman',
   'age': 60,
   'title': 'Chief Financial officer & Executive Director',
   'yearBorn': 1964,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Pablo  de Ayala',
   'title': 'Group Chief Information Officer',
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Ned  Staple',
   'age': 45,
   'title': 'Group General Counsel & Company Secretary',
   'yearBorn': 1979,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Ms. Viola  Schimansky',
   'title': 'Chief Human Resources Officer',
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Marcin  Langowski',
   'title': 'Managing Director of Dealz CEE',
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Barry  Williams',
   'title': 'Managing Director of Poundland',
   'exercisedValue': 0,
   'unexercisedValue': 0}],
 'executiveTeam': [],
 'maxAge': 86400,
 'priceHint': 2,
 'previousClose': 16.885,
 'open': 16.965,
 'dayLow': 16.965,
 'dayHigh': 17.495,
 'regularMarketPreviousClose': 16.885,
 'regularMarketOpen': 16.965,
 'regularMarketDayLow': 16.965,
 'regularMarketDayHigh': 17.495,
 'dividendRate': 0.27,
 'dividendYield': 1.57,
 'exDividendDate': 1742256000,
 'payoutRatio': 0.0,
 'beta': 1.13,
 'forwardPE': 41.654766,
 'volume': 6677956,
 'regularMarketVolume': 6677956,
 'averageVolume': 1810978,
 'averageVolume10days': 2260428,
 'averageDailyVolume10Day': 2260428,
 'bid': 17.4,
 'ask': 17.495,
 'marketCap': 10077592576,
 'fiftyTwoWeekLow': 12.665,
 'fiftyTwoWeekHigh': 25.81,
 'priceToSalesTrailing12Months': 1.6341823,
 'fiftyDayAverage': 16.2583,
 'twoHundredDayAverage': 17.3616,
 'trailingAnnualDividendRate': 0.062,
 'trailingAnnualDividendYield': 0.003671898,
 'currency': 'PLN',
 'tradeable': False,
 'enterpriseValue': 11356854272,
 'profitMargins': -0.115159996,
 'floatShares': 571459445,
 'sharesOutstanding': 576027008,
 'heldPercentInsiders': 0.72148,
 'heldPercentInstitutions': 0.06244,
 'impliedSharesOutstanding': 576027008,
 'bookValue': 0.888,
 'priceToBook': 19.701578,
 'lastFiscalYearEnd': 1727654400,
 'nextFiscalYearEnd': 1759190400,
 'mostRecentQuarter': 1727654400,
 'netIncomeToCommon': -661638976,
 'trailingEps': -4.92,
 'forwardEps': 0.42,
 'enterpriseToRevenue': 1.842,
 'enterpriseToEbitda': 22.001,
 '52WeekChange': -0.15320963,
 'SandP52WeekChange': 0.042615533,
 'lastDividendValue': 0.062,
 'lastDividendDate': 1742256000,
 'quoteType': 'EQUITY',
 'currentPrice': 17.495,
 'targetHighPrice': 32.62626,
 'targetLowPrice': 16.683447,
 'targetMeanPrice': 23.683388,
 'targetMedianPrice': 22.929571,
 'recommendationMean': 1.69231,
 'recommendationKey': 'buy',
 'numberOfAnalystOpinions': 13,
 'totalCash': 363336000,
 'totalCashPerShare': 0.631,
 'ebitda': 516204000,
 'totalDebt': 1993969024,
 'quickRatio': 0.217,
 'currentRatio': 0.953,
 'totalRevenue': 6166749184,
 'debtToEquity': 389.892,
 'revenuePerShare': 10.706,
 'returnOnAssets': 0.0482,
 'returnOnEquity': -0.80240995,
 'grossProfits': 2706029056,
 'freeCashflow': 513543488,
 'operatingCashflow': 819003008,
 'revenueGrowth': 0.066,
 'grossMargins': 0.43881,
 'ebitdaMargins': 0.08371,
 'operatingMargins': 0.04558,
 'financialCurrency': 'EUR',
 'symbol': 'PCO.WA',
 'language': 'en-US',
 'region': 'US',
 'typeDisp': 'Equity',
 'quoteSourceName': 'Delayed Quote',
 'triggerable': False,
 'customPriceAlertConfidence': 'LOW',
 'shortName': 'PEPCO',
 'longName': 'Pepco Group N.V.',
 'corporateActions': [],
 'regularMarketTime': 1745420695,
 'exchange': 'WSE',
 'messageBoardId': 'finmb_410663235',
 'exchangeTimezoneName': 'Europe/Warsaw',
 'exchangeTimezoneShortName': 'CEST',
 'gmtOffSetMilliseconds': 7200000,
 'market': 'pl_market',
 'esgPopulated': False,
 'regularMarketChangePercent': 3.6126773,
 'regularMarketPrice': 17.495,
 'fiftyTwoWeekLowChange': 4.830001,
 'fiftyTwoWeekLowChangePercent': 0.38136604,
 'fiftyTwoWeekRange': '12.665 - 25.81',
 'fiftyTwoWeekHighChange': -8.314999,
 'fiftyTwoWeekHighChangePercent': -0.3221619,
 'fiftyTwoWeekChangePercent': -15.320963,
 'earningsTimestamp': 1747911540,
 'earningsTimestampStart': 1747911540,
 'earningsTimestampEnd': 1747911540,
 'isEarningsDateEstimate': False,
 'epsTrailingTwelveMonths': -4.92,
 'epsForward': 0.42,
 'epsCurrentYear': 0.31358,
 'priceEpsCurrentYear': 55.791187,
 'fiftyDayAverageChange': 1.2367,
 'fiftyDayAverageChangePercent': 0.076065764,
 'twoHundredDayAverageChange': 0.13339996,
 'twoHundredDayAverageChangePercent': 0.0076836213,
 'sourceInterval': 15,
 'exchangeDataDelayedBy': 0,
 'averageAnalystRating': '1.7 - Buy',
 'cryptoTradeable': False,
 'hasPrePostMarketData': False,
 'firstTradeDateMilliseconds': 1622098800000,
 'regularMarketChange': 0.6100006,
 'regularMarketDayRange': '16.965 - 17.495',
 'fullExchangeName': 'Warsaw',
 'averageDailyVolume3Month': 1810978,
 'marketState': 'POSTPOST',
 'trailingPegRatio': None}

In [40]:
relevant_keys = [
    'city', 'country', 'industryKey', 'sectorKey', 'fullTimeEmployees', 'currency', 'tradeable', 'quoteType',
    'financialCurrency', 'region', 'fullExchangeName', 'exchange', 'exchangeTimezoneName', 'market', 'marketCap',
    'shortName', 'ebitda', 'totalDebt', 'debtToEquity', 'totalRevenue'] # market cap

In [53]:
def imput_asset_info(relevant_info, df):
    """
    Enriches the input DataFrame with additional asset information from Yahoo Finance.

    Parameters:
    - relevant_info: List of keys to fetch from yfinance .info dictionary
    - df: DataFrame that must include a 'Ticker' column

    Returns:
    - Merged DataFrame with additional asset information
    """
    columns = ['Ticker'] + relevant_info
    distinct_tickers = df['Ticker'].unique()
    rows = []

    for ticker in distinct_tickers:
        try:
            info_dict = yf.Ticker(ticker).info
            data_row = [ticker] + [info_dict.get(field, None) for field in relevant_info]
            rows.append(data_row)
        except Exception as e:
            print(f"Warning: Could not retrieve info for {ticker}: {e}")
            continue

    df_additional_info = pd.DataFrame(rows, columns=columns)
    return pd.merge(df, df_additional_info, how='left', on='Ticker')

In [ ]:
data = {
    "Ticker": ["AAPL", "GOOGL", "MSFT", "TSLA", "AMZN"],
    "Company": ["Apple Inc.", "Alphabet Inc.", "Microsoft Corp.", "Tesla Inc.", "Amazon.com Inc."],
    "Price": [165.3, 142.7, 310.1, 182.4, 127.8],
    "Sector": ["Technology", "Technology", "Technology", "Automotive", "Consumer Discretionary"]
}

df = pd.DataFrame(data)

In [54]:
imput_asset_info(relevant_info=relevant_keys, df=df)

,Ticker,Company,Price,Sector,city,country,industryKey,sectorKey,fullTimeEmployees,currency,...,fullExchangeName,exchange,exchangeTimezoneName,market,marketCap,shortName,ebitda,totalDebt,debtToEquity,totalRevenue
0,AAPL,Apple Inc.,165.3,Technology,Cupertino,United States,consumer-electronics,technology,150000,USD,...,NasdaqGS,NMS,America/New_York,us_market,3073521745920,Apple Inc.,137352003584,96798998528,145.000,395760009216
1,GOOGL,Alphabet Inc.,142.7,Technology,Mountain View,United States,internet-content-information,communication-services,183323,USD,...,NasdaqGS,NMS,America/New_York,us_market,1907418464256,Alphabet Inc.,129496997888,28137000960,8.655,350018011136
2,MSFT,Microsoft Corp.,310.1,Technology,Redmond,United States,software-infrastructure,technology,228000,USD,...,NasdaqGS,NMS,America/New_York,us_market,2783207751680,Microsoft Corporation,142041006080,102909001728,33.998,261802000384
3,TSLA,Tesla Inc.,182.4,Automotive,Austin,United States,auto-manufacturers,consumer-cyclical,125665,USD,...,NasdaqGS,NMS,America/New_York,us_market,806510198784,"Tesla, Inc.",12549999616,7528999936,9.983,95724003328
4,AMZN,Amazon.com Inc.,127.8,Consumer Discretionary,Seattle,United States,internet-retail,consumer-cyclical,1556000,USD,...,NasdaqGS,NMS,America/New_York,us_market,1916599533568,"Amazon.com, Inc.",120467996672,155400994816,54.342,637959012352

In [78]:
values = [dat.info[k] for k in relevant_keys]

In [79]:
values

['London',
 'United Kingdom',
 'discount-stores',
 'consumer-defensive',
 29462,
 'PLN',
 False,
 'EQUITY',
 'EUR',
 'US',
 'Warsaw',
 'WSE',
 'Europe/Warsaw',
 'pl_market',
 'PEPCO']

In [3]:
wig20 = [
    "ALR.WA", "ALE.WA", "BDX.WA", "CCC.WA", "CDR.WA",
    "CPS.WA", "DNP.WA", "KTY.WA", "JSW.WA", "KGH.WA",
    "KRU.WA", "LPP.WA", "MBK.WA", "OPL.WA", "PEO.WA",
    "PGE.WA", "PKN.WA", "PKO.WA", "PZU.WA", "PCO.WA"
]

This function gives us all information stored in a security, is a dict type

In [82]:
data = yf.Tickers(wig20)

In [ ]:
data.tickers[ticker].fast_info['currency']

KeyError: 1

In [4]:
start = datetime.datetime(2024,11,15)
end = datetime.datetime(2025,4,4)

In [5]:
def get_stocks(tickers, start, end):
    df = yf.download(tickers, start, end)[["Close"]].reset_index()
    df.columns = [col[1] if col[0] == 'Close' else 'Date' for col in df.columns]
    return df

In [75]:
data = yf.download(wig20, period='6y', group_by='column')
    
        
data = data.reset_index()
data['Date'] = pd.to_datetime(data['Date'])
data.set_index('Date', inplace=True)

[*********************100%***********************]  20 of 20 completed

In [76]:
data.head()

Price       Close                                                            \
Ticker     ALE.WA     ALR.WA      BDX.WA      CCC.WA      CDR.WA     CPS.WA
Date
2019-04-24    NaN  57.345783  101.512238  222.230484  199.159058  22.301405
2019-04-25    NaN  56.437050  102.329788  229.405640  197.933182  22.065054
2019-04-26    NaN  56.389225  102.193520  230.202881  199.536270  22.554640
2019-04-29    NaN  56.484879  100.422165  205.687759  200.384949  22.368935
2019-04-30    NaN  56.102257  100.422165  206.684311  202.648117  22.368935

Price                                                      ... Volume         \
Ticker          DNP.WA     JSW.WA      KGH.WA      KRU.WA  ... KTY.WA LPP.WA
Date                                                       ...
2019-04-24  126.400002  56.448448  100.322960  133.771790  ...    620   3621
2019-04-25  124.900002  56.874294   97.983345  132.362793  ...   3520   1731
2019-04-26  127.000000  56.164547   98.872398  141.645599  ...    503   1287
2019-04-29  126.000000  55.738701   98.685234  139.822189  ...   1365    993
2019-04-30  127.000000  54.934322   96.252014  143.800522  ...    296   1649

Price
Ticker     MBK.WA   OPL.WA PCO.WA   PEO.WA   PGE.WA  PKN.WA   PKO.WA   PZU.WA
Date
2019-04-24  24977  1565428    NaN  1346956  2426609  707948  2598172  1072220
2019-04-25  12871   963644    NaN   507214  1815669  809071  1507611   889308
2019-04-26  19670   994793    NaN   427001  1389663  577813  1087240   645464
2019-04-29  19713   806089    NaN   226199  1592924  435147  1348469   847291
2019-04-30  14952  1964384    NaN   777053  1703505  817421  3238208  1412784

[5 rows x 100 columns]

 ≈õrednie do 5 lat, poczƒÖwszy od dnia: dzie≈Ñ, tydzie≈Ñ, miesiƒÖc, kwarta≈Ç, p√≥≈Ç-rocze, rok, 2, 3, 4, 5

In [29]:
data.sort_values('Date', ascending=False)['ALE.WA'].iloc[:7]

Date
2025-04-24    33.419998
2025-04-23    33.099998
2025-04-22    31.570000
2025-04-17    31.100000
2025-04-16    30.879999
2025-04-15    31.510000
2025-04-14    31.165001
Name: ALE.WA, dtype: float64

In [ ]:
def calculate_averages(df, columns, type='arithmetic'):
    # we can adjust a function so we can aggregate any values in any column i.e. Close price or Volume
    df = df[column]
    # we assume our df is sorted by descending order of dates (latest is at the top), if not we can repair it
    df = df.sort_values('Date', ascending=False)
    # gather all the tickers
    tickers = df.columns.to_list()
    # store all required periods (as number of days)
    periods = [1, 5, 63, 90, 126, 252, 504, 756, 1008, 1260] # it can be adjusted to what we consider a 'week' in a trading year
    
    # handling column names
    if column == 'Volume':
        base = f"average{column}Last{{}}"
    base = f"average{column}PriceLast{{}}"

    columns = [
        'Ticker',
        base.format('Day'),
        base.format('Week'),
        base.format('Month'),
        base.format('Quarter'),
        base.format('HalfYear'),
        base.format('1Y'),
        base.format('2Y'),
        base.format('3Y'),
        base.format('4Y'),
        base.format('5Y')
    ]

    data_rows = []
    for ticker in tickers:
        row = [ticker]
        for period in periods:
            sliced = df[ticker].iloc[:period]  # latest `period` rows
            if type == 'arithmetic':
                row.append(sliced.mean(skipna=True)) # make sure we skip NaN
            elif type == 'geometric':
                row.append(gmean(sliced.dropna()))
            else:
                raise ValueError('Invalid type of mean!')
        data_rows.append(row)

    # Create final DataFrame
    aggregated_df = pd.DataFrame(data_rows, columns=columns)

    return aggregated_df

In [71]:
calculate_averages(data, 'Close')

,Ticker,AverageClosePriceLastDay,AverageClosePriceLastWeek,AverageClosePriceLastMonth,AverageClosePriceLastQuarter,AverageClosePriceLastHalfYear,AverageClosePriceLast1Y,AverageClosePriceLast2Y,AverageClosePriceLast3Y,AverageClosePriceLast4Y,AverageClosePriceLast5Y
0,ALE.WA,33.419998,32.013999,30.206428,29.431611,30.181627,33.371468,32.683909,30.292148,35.229954,39.430427
1,ALR.WA,111.050003,108.710001,102.131746,98.119778,96.001905,96.148791,79.253722,63.228727,58.217665,49.784147
2,BDX.WA,620.200012,627.600000,563.860317,534.728888,527.355554,587.669839,537.547524,434.967158,378.172183,340.139097
3,CCC.WA,226.399994,229.439999,201.380952,196.628888,195.415079,164.746627,108.541349,86.038294,90.052619,85.293087
4,CDR.WA,224.699997,223.600000,217.438095,211.040556,197.906746,175.182715,149.647720,137.565917,146.845783,182.711660
5,CPS.WA,17.780001,17.766000,15.294683,15.035111,14.484762,13.521401,13.549371,15.207926,18.834347,19.983492
6,DNP.WA,519.200012,511.940002,471.766667,453.566666,429.614285,398.311508,411.032936,389.244312,370.702877,342.589762
7,JSW.WA,24.110001,23.692000,24.388730,23.779111,24.451429,26.178492,33.836964,40.205410,41.255446,37.678294
8,KGH.WA,124.449997,118.639999,128.369841,126.511111,130.474206,137.084180,124.718956,121.468724,131.383922,131.369803
9,KRU.WA,388.600006,381.159998,405.919048,411.534445,415.811905,429.741733,418.060288,365.952519,340.160940,295.511541
10,KTY.WA,852.000000,823.800000,808.142857,775.450000,759.321429,775.280423,693.357871,611.174599,578.755584,526.682768
11,LPP.WA,15315.000000,15383.655469,16847.566003,16448.209234,16032.319809,15667.237293,14505.487506,12538.751020,12296.456674,11047.066126
12,MBK.WA,868.400024,825.360010,744.295241,689.080002,653.542859,640.246033,568.787500,470.231482,449.119147,398.609920
13,OPL.WA,9.640000,9.597600,8.580825,8.224378,8.108651,8.080413,7.639204,6.975043,6.886022,6.652946
14,PCO.WA,17.275000,16.551000,16.356417,16.322851,16.437676,18.191410,22.813075,27.903610,32.291809,32.291809
15,PEO.WA,191.600006,183.050000,171.465874,163.292778,157.886112,158.252537,136.932632,114.437856,107.568309,95.094443
16,PGE.WA,7.942000,7.600400,7.304413,6.938067,6.888540,6.925611,7.318456,7.466858,7.869946,7.541526
17,PKN.WA,67.870003,65.700001,62.460000,58.652667,56.849762,58.412856,58.242457,57.044985,58.230679,55.470448
18,PKO.WA,76.519997,73.059999,71.025079,67.964889,64.816508,60.580778,50.541724,42.288004,40.681539,36.901166
19,PZU.WA,58.860001,57.696001,54.247778,52.190778,49.292222,46.805741,42.868763,37.228208,34.917139,32.128489

In [64]:
data = yf.download(wig20, group_by='Ticker', period= '1d')
data.head()

[*********************100%***********************]  20 of 20 completed

Ticker       LPP.WA                                       PZU.WA             \
Price          Open     High      Low    Close Volume       Open       High
Date
2025-04-23  15615.0  15845.0  15615.0  15760.0    501  58.119999  58.799999

Ticker                                    ... CCC.WA                          \
Price             Low      Close  Volume  ...   Open        High         Low
Date                                      ...
2025-04-23  57.939999  58.639999  205305  ...  228.5  231.399994  226.699997

Ticker                   MBK.WA
Price       Close Volume   Open   High         Low  Close Volume
Date
2025-04-23  230.0  31403  831.0  839.0  830.799988  832.0   2856

[1 rows x 100 columns]

In [ ]:

data = data.stack(level=0).rename_axis(['Date', 'Ticker']).reset_index(level=1)

data['Change'] = data['Close'] - data['Open']
data['Daily Return'] = (data['Close'] - data['Open']) / data['Open']
data['Range'] = data['High'] - data['Low']
data['Volatility Ratio'] = data['Range'] / data['Open']
data['Upper Wick'] = data['High'] - np.maximum(data['Open'], data['Close'])
data['Lower Wick'] = np.minimum(data['Open'], data['Close']) - data['Low']
data['Candle type'] = np.where(data['Close'] > data['Open'], 1, 0)  # 1 means bullish, 0 means bearish

data.head(20)

This function gives us important dates of a security

In [24]:
dat.calendar

{'Dividend Date': datetime.date(2025, 6, 12),
 'Ex-Dividend Date': datetime.date(2025, 5, 15),
 'Earnings Date': [datetime.date(2025, 4, 23), datetime.date(2025, 4, 28)],
 'Earnings High': 3.56,
 'Earnings Low': 3.16,
 'Earnings Average': 3.22562,
 'Revenue High': 69897682310,
 'Revenue Low': 67140000000,
 'Revenue Average': 68536220780}

In [25]:
dat.analyst_price_targets

{'current': 359.84,
 'high': 650.0,
 'low': 415.0,
 'mean': 503.86472,
 'median': 500.0}

In [26]:
dat.quarterly_income_stmt

,2024-12-31,2024-09-30,2024-06-30,2024-03-31,2023-12-31
Tax Effect Of Unusual Items,-203220000.0,57190000.0,-16263853.211009,-33660000.0,-29160000.0
Tax Rate For Calcs,0.18,0.19,0.191339,0.18,0.18
Normalized EBITDA,37915000000.0,37933000000.0,34416000000.0,33741000000.0,33556000000.0
Total Unusual Items,-1129000000.0,301000000.0,-85000000.0,-187000000.0,-162000000.0
Total Unusual Items Excluding Goodwill,-1129000000.0,301000000.0,-85000000.0,-187000000.0,-162000000.0
Net Income From Continuing Operation Net Minority Interest,24108000000.0,24667000000.0,22036000000.0,21939000000.0,21870000000.0
Reconciled Depreciation,6827000000.0,7383000000.0,6380000000.0,6027000000.0,5959000000.0
Reconciled Cost Of Revenue,21799000000.0,20099000000.0,19684000000.0,18505000000.0,19623000000.0
EBITDA,36786000000.0,38234000000.0,34331000000.0,33554000000.0,33394000000.0
EBIT,29959000000.0,30851000000.0,27951000000.0,27527000000.0,27435000000.0
Net Interest Income,6000000.0,99000000.0,-63000000.0,-181000000.0,-175000000.0
Interest Expense,594000000.0,582000000.0,701000000.0,800000000.0,909000000.0
Interest Income,600000000.0,681000000.0,638000000.0,619000000.0,734000000.0
Normalized Income,25033780000.0,24423190000.0,22104736146.78899,22092340000.0,22002840000.0
Net Income From Continuing And Discontinued Operation,24108000000.0,24667000000.0,22036000000.0,21939000000.0,21870000000.0
Total Expenses,37979000000.0,35033000000.0,36802000000.0,34277000000.0,34988000000.0
Total Operating Income As Reported,31653000000.0,30552000000.0,27925000000.0,27581000000.0,27032000000.0
Diluted Average Shares,7468000000.0,7470000000.0,7472000000.0,7472000000.0,7468000000.0
Basic Average Shares,7435000000.0,7433000000.0,7433000000.0,7431000000.0,7432000000.0
Diluted EPS,3.23,3.3,2.95,2.94,2.93
Basic EPS,3.24,3.32,2.96,2.95,2.94
Diluted NI Availto Com Stockholders,24108000000.0,24667000000.0,22036000000.0,21939000000.0,21870000000.0
Net Income Common Stockholders,24108000000.0,24667000000.0,22036000000.0,21939000000.0,21870000000.0
Net Income,24108000000.0,24667000000.0,22036000000.0,21939000000.0,21870000000.0
Net Income Including Noncontrolling Interests,24108000000.0,24667000000.0,22036000000.0,21939000000.0,21870000000.0
Net Income Continuous Operations,24108000000.0,24667000000.0,22036000000.0,21939000000.0,21870000000.0
Tax Provision,5257000000.0,5602000000.0,5214000000.0,4788000000.0,4656000000.0
Pretax Income,29365000000.0,30269000000.0,27250000000.0,26727000000.0,26526000000.0
Other Income Expense,-2294000000.0,-382000000.0,-612000000.0,-673000000.0,-331000000.0
Other Non Operating Income Expenses,-1165000000.0,-683000000.0,-527000000.0,-486000000.0,-169000000.0
Special Income Charges,-867000000.0,-7000000.0,-22000000.0,-17000000.0,-161000000.0
Write Off,867000000.0,7000000.0,22000000.0,17000000.0,161000000.0
Gain On Sale Of Security,-262000000.0,308000000.0,-63000000.0,-170000000.0,-1000000.0
Net Non Operating Interest Income Expense,6000000.0,99000000.0,-63000000.0,-181000000.0,-175000000.0
Interest Expense Non Operating,594000000.0,582000000.0,701000000.0,800000000.0,909000000.0
Interest Income Non Operating,600000000.0,681000000.0,638000000.0,619000000.0,734000000.0
Operating Income,31653000000.0,30552000000.0,27925000000.0,27581000000.0,27032000000.0
Operating Expense,16180000000.0,14934000000.0,17118000000.0,15772000000.0,15365000000.0
Research And Development,7917000000.0,7544000000.0,8056000000.0,7653000000.0,7142000000.0
Selling General And Administration,8263000000.0,7390000000.0,9062000000.0,8119000000.0,8223000000.0
Selling And Marketing Expense,6440000000.0,5717000000.0,6816000000.0,6207000000.0,6246000000.0
General And Administrative Expense,1823000000.0,1673000000.0,2246000000.0,1912000000.0,1977000000.0
Other Gand A,1823000000.0,1673000000.0,2246000000.0,1912000000.0,1977000000.0
Gross Profit,47833000000.0,45486000000.0,45043000000.0,43353000000.0,42397000000.0
Cost Of Revenue,21799000000.0,20099000000.0,19684000000.0,18505000000.0,19623000000.0
Total Revenue,69632000000.0,65585000000.0,64727000000.0,61858000000.0,62020000000.0
Operating Revenue,69632000000.0,65585000000.0,64727000000.0,61858000000.0,62020000000.0

Period must be of the format 1d, 5d, 1mo, 3mo, 6mo, 1y, 2y, 5y, 10y, ytd, max, etc.
This function gives us information about historical values of a security

In [27]:
dat.history(period='5d')

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2025-03-31 00:00:00-04:00,372.540009,377.070007,367.239990,375.390015,35184700,0.0,0.0
2025-04-01 00:00:00-04:00,374.649994,382.850006,373.230011,382.190002,19689500,0.0,0.0
2025-04-02 00:00:00-04:00,377.970001,385.079987,376.619995,382.140015,16092600,0.0,0.0
2025-04-03 00:00:00-04:00,374.790009,377.480011,369.350006,373.109985,30198000,0.0,0.0
2025-04-04 00:00:00-04:00,364.130005,374.589996,359.480011,359.839996,49138700,0.0,0.0

In [28]:
dat.option_chain(dat.options[0]).calls

,contractSymbol,lastTradeDate,strike,lastPrice,bid,ask,change,percentChange,volume,openInterest,impliedVolatility,inTheMoney,contractSize,currency
0,MSFT250411C00230000,2025-04-04 14:53:22+00:00,230.0,137.15,128.15,132.50,-18.950012,-12.139662,3.0,0,1.586916,True,REGULAR,USD
1,MSFT250411C00260000,2025-03-07 20:54:19+00:00,260.0,133.50,98.15,102.50,0.000000,0.000000,2.0,1,1.200199,True,REGULAR,USD
2,MSFT250411C00290000,2025-03-28 14:04:20+00:00,290.0,97.70,68.70,73.00,0.000000,0.000000,1.0,1,0.973633,True,REGULAR,USD
3,MSFT250411C00300000,2025-04-04 17:46:49+00:00,300.0,66.54,58.85,63.00,-9.680000,-12.700079,303.0,24,0.861330,True,REGULAR,USD
4,MSFT250411C00305000,2025-03-18 15:48:24+00:00,305.0,78.48,58.70,58.50,0.000000,0.000000,NaN,1,1.119877,True,REGULAR,USD
5,MSFT250411C00310000,2025-04-04 19:07:18+00:00,310.0,52.00,53.85,53.50,-9.689999,-15.707569,1.0,6003,1.048711,True,REGULAR,USD
6,MSFT250411C00320000,2025-04-04 18:31:40+00:00,320.0,44.05,44.50,44.00,-31.350002,-41.578250,20.0,1,0.939210,True,REGULAR,USD
7,MSFT250411C00325000,2025-04-04 19:32:17+00:00,325.0,41.27,40.30,38.30,-10.480000,-20.251207,33.0,15,0.861940,True,REGULAR,USD
8,MSFT250411C00330000,2025-04-04 17:38:26+00:00,330.0,34.10,36.20,33.90,-18.220001,-34.824160,25.0,13,0.833254,True,REGULAR,USD
9,MSFT250411C00335000,2025-04-04 15:37:12+00:00,335.0,34.90,31.95,29.65,-3.979999,-10.236624,8.0,27,0.796389,True,REGULAR,USD
10,MSFT250411C00340000,2025-04-04 19:33:47+00:00,340.0,24.35,26.80,25.00,-12.150000,-33.287670,52.0,13,0.712527,True,REGULAR,USD
11,MSFT250411C00345000,2025-04-04 19:12:31+00:00,345.0,20.40,23.80,21.35,-12.250002,-37.519150,84.0,18,0.714969,True,REGULAR,USD
12,MSFT250411C00350000,2025-04-04 19:41:05+00:00,350.0,20.00,19.85,17.60,-8.450001,-29.701233,289.0,152,0.674808,True,REGULAR,USD
13,MSFT250411C00355000,2025-04-04 19:40:41+00:00,355.0,13.40,16.15,14.25,-8.850000,-39.775284,295.0,109,0.639896,True,REGULAR,USD
14,MSFT250411C00360000,2025-04-04 19:59:57+00:00,360.0,10.35,12.80,10.50,-6.449999,-38.392850,958.0,133,0.590031,False,REGULAR,USD
15,MSFT250411C00362500,2025-04-04 19:58:34+00:00,362.5,8.95,11.25,9.10,-6.450000,-41.883118,617.0,125,0.574223,False,REGULAR,USD
16,MSFT250411C00365000,2025-04-04 19:59:57+00:00,365.0,7.70,9.80,7.80,-5.500000,-41.666668,3542.0,101,0.559086,False,REGULAR,USD
17,MSFT250411C00367500,2025-04-04 19:59:33+00:00,367.5,6.45,8.50,6.65,-6.650001,-50.763363,1068.0,127,0.546757,False,REGULAR,USD
18,MSFT250411C00370000,2025-04-04 19:59:19+00:00,370.0,5.34,7.30,6.05,-4.620000,-46.385540,6688.0,398,0.546635,False,REGULAR,USD
19,MSFT250411C00372500,2025-04-04 19:59:08+00:00,372.5,4.43,6.20,4.65,-4.030000,-47.635937,1933.0,207,0.522710,False,REGULAR,USD
20,MSFT250411C00375000,2025-04-04 19:59:15+00:00,375.0,3.75,5.25,3.80,-3.300000,-46.808510,7033.0,1012,0.512212,False,REGULAR,USD
21,MSFT250411C00377500,2025-04-04 19:57:06+00:00,377.5,3.10,4.35,3.05,-2.750000,-47.008550,1925.0,380,0.500249,False,REGULAR,USD
22,MSFT250411C00380000,2025-04-04 19:59:34+00:00,380.0,2.42,3.60,2.42,-2.440000,-50.205760,4940.0,1103,0.449835,False,REGULAR,USD
23,MSFT250411C00382500,2025-04-04 19:57:44+00:00,382.5,1.95,3.00,1.87,-1.950000,-50.000000,2844.0,1710,0.439581,False,REGULAR,USD
24,MSFT250411C00385000,2025-04-04 19:59:43+00:00,385.0,1.43,2.44,1.51,-1.770000,-55.312504,6570.0,1911,0.438360,False,REGULAR,USD
25,MSFT250411C00387500,2025-04-04 19:52:58+00:00,387.5,1.38,1.98,1.17,-1.070000,-43.673470,1475.0,657,0.433111,False,REGULAR,USD
26,MSFT250411C00390000,2025-04-04 19:59:50+00:00,390.0,0.80,1.60,0.87,-1.100000,-57.894730,5460.0,1606,0.425299,False,REGULAR,USD
27,MSFT250411C00392500,2025-04-04 19:52:41+00:00,392.5,0.81,1.28,0.77,-0.690000,-46.000000,1790.0,863,0.437017,False,REGULAR,USD
28,MSFT250411C00395000,2025-04-04 19:59:43+00:00,395.0,0.45,1.02,0.50,-0.720000,-61.538464,2081.0,1456,0.418951,False,REGULAR,USD
29,MSFT250411C00397500,2025-04-04 19:59:02+00:00,397.5,0.41,0.82,0.40,-0.510000,-55.434780,711.0,1896,0.421881,False,REGULAR,USD
30,MSFT250411C00400000,2025-04-04 19:58:28+00:00,400.0,0.27,0.65,0.30,-0.400000,-59.701492,5075.0,7750,0.419928,False,REGULAR,USD
31,MSFT250411C00402500,2025-04-04 19:51:56+00:00,402.5,0.21,0.51,0.35,-0.420000,-66.666670,307.0,1232,0.452154,False,REGULAR,USD
32,MSFT250411C00405000,2025-04-04 19:53:36+00:00,405.0,0.17,0.40,0.20,-0.280000,-62.222218,3677.0,12345,0.429693,False,REGULAR,USD
33,MSFT250411C00407500,2025-04-04 19:13:15+00:00,407.5,0.13,0.32,0.20,-0.230000,-63.888890,241.0,1660,0.448248,False,REGULAR,USD
34,MSFT250411C00410000,2025-04-04 19:41:44+00:00,410.0,0.17,0.25,0.14,-0.080000,-32.000000,790.0,6318,0.442388,False,REGULAR,USD
35,MSFT250411C00415000,2025-04-04 18:49:25+00:00,415.0,0.07,0.16,0.14,-0.090000,-56.250000,343.0,4734,0.476568,False,REGULAR,USD
36,MSFT250411C00420000,2025-04-04 19:53:07+00:00,420.0,0.04,0.09,0.04,-0.060000,-60.000004,462.0,2527,0.437506,False,REGULAR,USD
37,MSFT250411C00425000,2025-04-04 19:53:36+00:00,425.0,0.08,0.06,0.05,0.030000,59.999996,247.0,2678,0.478521,False,REGULAR,USD
38,MSFT250411C00430000,2025-04-04 19:44:11+00:00,430.0,0.04,0.03,0.08,0.010000,33.333336,59.0,1114,0.513677,False,REGULAR,USD
39,MSFT250411C00435000,2025-04-04 16:21:20+00:00,435.0,0.01,0.01,0.07,-0.020000,-66.666670,11.0,348,0.523442,False,REGULAR,USD
40,MSFT250411C00440000,2025-04-04 18:34:50+00:00,440.0,0.01,0.00,0.02,-0.010000,-50.000000,94.0,415,0.515630,False,REGULAR,USD
41,MSFT250411C00445000,2025-04-03 19:59:35+00:00,445.0,0.02,0.00,0.05,0.010000,100.000000,2.0,127,0.550786,False,REGULAR,USD
42,MSFT250411C00450000,2025-04-03 19:18:17+00:00,450.0,0.01,0.00,0.02,0.000000,0.000000,12.0,359,0.531255,False,REGULAR,USD
43,MSFT250411C00455000,2025-03-26 14:12:00+00:00,455.0,0.01,0.00,0.05,-0.010000,-50.000000,2.0,38,0.601566,False,REGULAR,USD
44,MSFT250411C00460000,2025-04-01 17:58:03+00:00,460.0,0.02,0.00,0.04,0.000000,0.000000,2.0,271,0.617191,False,REGULAR,USD
45,MSFT250411C00465000,2025-03-24 13:45:21+00:00,465.0,0.02,0.00,0.04,0.000000,0.000000,2.0,13,0.640629,False,REGULAR,USD
46,MSFT250411C00470000,2025-04-02 17:36:58+00:00,470.0,0.01,0.00,0.02,0.000000,0.000000,2.0,11,0.625004,False,REGULAR,USD
47,MSFT250411C00475000,2025-03-06 16:51:36+00:00,475.0,0.22,0.00,0.04,0.000000,0.000000,NaN,27,0.687503,False,REGULAR,USD
48,MSFT250411C00480000,2025-03-28 15:50:02+00:00,480.0,0.01,0.00,0.04,0.000000,0.000000,1.0,50,0.710940,False,REGULAR,USD
49,MSFT250411C00490000,2025-03-11 13:30:01+00:00,490.0,0.06,0.00,0.04,0.000000,0.000000,NaN,1,0.757815,False,REGULAR,USD
50,MSFT250411C00495000,2025-03-21 15:38:16+00:00,495.0,0.01,0.00,0.04,0.000000,0.000000,1.0,1,0.781252,False,REGULAR,USD
51,MSFT250411C00500000,2025-03-07 20:52:33+00:00,500.0,0.06,0.00,0.04,0.000000,0.000000,6.0,7,0.796877,False,REGULAR,USD
52,MSFT250411C00505000,2025-03-26 15:05:51+00:00,505.0,0.02,0.00,0.04,0.000000,0.000000,NaN,10,0.820314,False,REGULAR,USD
53,MSFT250411C00525000,2025-03-05 20:15:27+00:00,525.0,0.05,0.00,0.04,0.000000,0.000000,NaN,0,0.906251,False,REGULAR,USD

Multiple ticker symbols

In [29]:
tickers = yf.Tickers('MSFT AAPL GOOG')
tickers.tickers['MSFT'].info
yf.download(['MSFT', 'AAPL', 'GOOG'], period='1mo')

YF.download() has changed argument auto_adjust default to True

[*********************100%***********************]  3 of 3 completed

Price            Close                                High              \
Ticker            AAPL        GOOG        MSFT        AAPL        GOOG
Date
2025-03-05  235.740005  174.790878  401.019989  236.550003  175.550008
2025-03-06  235.330002  174.011765  396.890015  237.860001  176.528886
2025-03-07  239.070007  175.550003  393.309998  241.369995  176.698688
2025-03-10  227.479996  167.809998  380.160004  236.160004  170.449997
2025-03-11  220.839996  165.979996  380.450012  225.839996  168.654999
2025-03-12  216.979996  169.000000  383.269989  221.750000  169.529999
2025-03-13  209.679993  164.729996  378.769989  216.839996  168.119995
2025-03-14  213.490005  167.619995  388.559998  213.949997  168.250000
2025-03-17  214.000000  166.570007  388.700012  215.220001  168.460007
2025-03-18  212.690002  162.669998  383.519989  215.149994  166.440002
2025-03-19  215.240005  166.279999  387.820007  218.759995  168.132996
2025-03-20  214.100006  165.050003  386.839996  217.490005  167.029999
2025-03-21  218.270004  166.250000  391.260010  218.839996  166.470001
2025-03-24  220.729996  169.929993  393.079987  221.479996  170.500000
2025-03-25  223.750000  172.789993  395.160004  224.100006  172.910004
2025-03-26  221.529999  167.139999  389.970001  225.020004  171.940002
2025-03-27  223.850006  164.080002  390.579987  224.990005  167.440002
2025-03-28  217.899994  156.059998  378.799988  223.809998  163.809998
2025-03-31  222.130005  156.229996  375.390015  225.619995  157.130005
2025-04-01  223.190002  158.880005  382.190002  223.679993  160.080002
2025-04-02  223.889999  158.860001  382.140015  225.190002  160.274994
2025-04-03  203.190002  152.630005  373.109985  207.490005  154.686996
2025-04-04  188.380005  147.740005  359.839996  199.880005  153.089996

Price                          Low                                Open  \
Ticker            MSFT        AAPL        GOOG        MSFT        AAPL
Date
2025-03-05  401.670013  229.229996  170.735486  388.809998  235.419998
2025-03-06  402.149994  233.160004  172.311690  392.679993  234.440002
2025-03-07  394.799988  234.759995  172.053986  385.540009  235.110001
2025-03-10  386.399994  224.220001  165.565002  377.220001  235.539993
2025-03-11  386.000000  217.449997  163.240005  376.910004  223.809998
2025-03-12  385.220001  214.910004  165.479996  378.950012  220.139999
2025-03-13  385.320007  208.419998  164.070007  377.450012  215.949997
2025-03-14  390.230011  209.580002  164.509995  379.510010  211.250000
2025-03-17  392.709991  209.970001  165.809998  385.570007  213.309998
2025-03-18  387.369995  211.490005  158.800003  381.100006  214.160004
2025-03-19  389.679993  213.750000  163.050003  384.000000  214.220001
2025-03-20  391.790009  212.220001  163.139999  383.279999  213.990005
2025-03-21  391.739990  211.279999  163.029999  382.799988  211.559998
2025-03-24  395.399994  218.580002  167.440002  389.809998  221.000000
2025-03-25  396.359985  220.080002  170.550003  392.640015  220.770004
2025-03-26  395.309998  220.470001  166.860992  388.570007  223.509995
2025-03-27  392.239990  220.559998  163.850006  387.399994  221.389999
2025-03-28  389.130005  217.679993  155.339005  376.929993  221.669998
2025-03-31  377.070007  216.229996  152.210007  367.239990  217.009995
2025-04-01  382.850006  218.899994  155.255005  373.230011  219.809998
2025-04-02  385.079987  221.020004  156.529999  376.619995  221.320007
2025-04-03  377.480011  201.250000  152.179993  369.350006  205.539993
2025-04-04  374.589996  187.339996  147.539993  359.480011  193.889999

Price                                  Volume
Ticker            GOOG        MSFT       AAPL      GOOG      MSFT
Date
2025-03-05  172.123918  389.339996   47227600  18848000  23433100
2025-03-06  172.353650  394.279999   45170400  19082400  23304600
2025-03-07  173.044861  392.320007   46273600  16395300  22034100
2025-03-10  170.160004  385.839996   72071200  28990700  32840100
2025-03-11  166.679993  379.000000   76137400  23705900  30380200
2025-03-12  168.470001  382.950012   62547500  19880100  24253600
2025-03-13  167.979996  383.160004   61368300  15206200  20473000
2025-03-14  165.315002  379.779999   60107600  18611100  19952800
2025-03-17  167.324997  386.700012   48073400  17839100  22474300
2025-03-18  165.960007  387.070007   42432400  24616800  19486900
2025-03-19  163.914993  385.529999   54385400  24955700  19185500
2025-03-20  163.824997  385.739990   48862900  19981500  18470500
2025-03-21  163.380005  383.220001   94127800  29882100  39675900
2025-03-24  169.264999  395.399994   44299500  18742800  21004500
2025-03-25  171.179993  393.920013   34493600  13841600  15775000
2025-03-26  171.300003  395.000000   34466100  22498000  16108400
2025-03-27  166.710007  390.130005   37094800  21571200  13766800
2025-03-28  162.360001  388.079987   39818600  34866500  21632000
2025-03-31  154.809998  372.540009   65299300  33591600  35184700
2025-04-01  155.300003  374.649994   36412700  20111400  19689500
2025-04-02  156.960007  377.970001   35905900  17113300  16092600
2025-04-03  152.835007  374.790009  103419000  28416100  30198000
2025-04-04  149.899994  364.130005  125569000  39786000  49138700

In [31]:
spy = yf.Ticker('SPY').funds_data

In [32]:
spy.description

'The trust seeks to achieve its investment objective by holding a portfolio of the common stocks that are included in the index, with the weight of each stock in the portfolio substantially corresponding to the weight of such stock in the index.'

In [33]:
spy.top_holdings

                                  Name  Holding Percent
Symbol
AAPL                         Apple Inc         0.069954
MSFT                    Microsoft Corp         0.058503
NVDA                       NVIDIA Corp         0.055643
AMZN                    Amazon.com Inc         0.037620
META        Meta Platforms Inc Class A         0.026460
BRK-B   Berkshire Hathaway Inc Class B         0.020465
GOOGL             Alphabet Inc Class A         0.018910
AVGO                      Broadcom Inc         0.016453
GOOG              Alphabet Inc Class C         0.015483
TSLA                         Tesla Inc         0.015204